.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ca3131;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}

.boton2:hover {
    background-color: #8f2727;
}

.row-container {
    display: flex;
    flex-wrap: nowrap;
    border-color: antiquewhite;
    border-width: 2px;
}

.row-element {
    padding: 10px;
    margin-right: 10px;
}

.columns{
    flex-grow: 0; 
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column2{
    flex-grow: 3; 
    flex-basis: calc(100% - 40px); 
    margin-right: 20px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column3{
    order: 3;
}

.poster{
    width: 250px;
    height: 400px;
    padding-top: 15px;
    background-size: cover
}

.form-container {
    width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
}

.form-label {
    display: block; 
    margin-bottom: 10px; 
}

.form-input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.form-dropdown {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    max-height: 200px; 
    overflow-y: auto;
}

.form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.file-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .file-archivo::file-selector-button {
    background-color: white;
  }

.iflex{
    display: inline-flex;
}

.index-container {
    display: flex; 
    flex-wrap: wrap;
}

.show-field{
    text-align: left;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}

.show-label{
    text-align: left;
    font-size: 20px;
    color: lightseagreen;
    padding: 10px 20px;
}

.show-href{
    text-align: left;
    font-size: 20px;
    color: #007bff;
    padding: 10px 20px;
}

.text-danger {
    color: #dc3545;
    font-size: 15px;
}

.responsive-column {
    display: block;
}

@media (max-width: 1000px) {
    .columns {
        display: none;
    }

    .index-container{
        display: block; 
        flex-wrap: nowrap;
    }
}

.review_container {
    background-color: #244c7d ;
    color: #cbd2d9;
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    border: 1px solid #333;
    word-wrap: break-word;
    max-width: 800px;
}